/* Portfolio Section */
section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 64px;
    width: 100%;
    max-width: 1920px;
    box-sizing: border-box;
}

h3,
h4 {
    margin: 0;
}

p {
    padding: 24px 0;
    font-size: 18px;
    font-weight: 400;
    width: 45%;
}

.portfolio-item {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    gap: 5%;
    position: relative;

    >button {
        cursor: pointer;
        width: 65%;
        display: flex;
        justify-content: space-between;
        padding: 40px 32px;
        background-color: transparent;
        border: solid #3dcfb6;
        border-width: 1px 0 1px 0;
        font-size: 18px;
        font-weight: 400;

        >span {
            font-family: "Fira Code", monospace;
            font-size: 24px;
            font-weight: 700;
            width: max-content;
            padding: 8px 0;
            color: white;
        }

        &:hover {
            background-color: rgba(63, 207, 183, 0.302);
        }
    }
}

.tech-divider {
    display: flex;
    gap: 10px;
    color: white;
}

.divider-line {
    width: 1px;
    height: 20px;
    background-color: #3dcfb6;
}

.thumbnail-preview {
    object-fit: scale-down;

    >img {
        position: absolute;
        border-radius: 20px;
        max-width: 280px;
        min-width: 280px;
        min-height: 195px;
    }
}

.preview-background {
    right: 9%;
    top: 25px;
}

.preview-image {
    right: 10%;
}

/* Media Queries */
@media screen and (max-width: 1500px) {
    .preview-background {
        right: -1%;
    }

    .preview-image {
        right: 0;
    }

    section {
        padding: 80px;
    }
}

@media screen and (max-width: 960px) {
    section {
        flex-direction: column;
        padding: 16px;
        align-items: center;

        >img {
            width: 100%;
            padding-bottom: 32px;
        }
    }

    .portfolio-item {
        >button {
            flex-direction: column;
            align-items: flex-start;
            padding: 24px 0;
            gap: 12px;
            width: 100%;
        }
    }

    .tech-divider {
        font-size: 14px;
    }

    p {
        width: 80%;
    }
}