<div class="legal-document">
    <div class="legal-header">
      <h1 class="legal-title">{{ 'privacy_policy.title' | translate }}</h1>
      <p class="legal-date">{{ 'privacy_policy.update' | translate }}</p>
    </div>
  
    <div class="legal-intro">
      <p class="legal-text">{{ 'privacy_policy.paragraph_1_1' | translate }}</p>
      <p class="legal-text">
        {{ 'privacy_policy.paragraph_1_2' | translate }}
        <a href="https://www.freeprivacypolicy.com/free-privacy-policy-generator/" target="_blank" class="legal-link">
          Free Privacy Policy Generator
        </a>.
      </p>
    </div>
  
    <div class="legal-section">
      <h2 class="section-title-privacy">{{ 'privacy_policy.interpretation_definition.headline' | translate }}</h2>
      
      <div class="legal-subsection">
        <h3 class="subsection-title">{{ 'privacy_policy.interpretation_definition.interpretation.headline' | translate }}</h3>
        <p class="legal-text">{{ 'privacy_policy.interpretation_definition.interpretation.paragraph' | translate }}</p>
      </div>
      
      <div class="legal-subsection">
        <h3 class="subsection-title">{{ 'privacy_policy.interpretation_definition.definition.headline' | translate }}</h3>
        <p class="legal-text">{{ 'privacy_policy.interpretation_definition.definition.paragraph' | translate }}</p>
        
        <ul class="legal-list">
          <li class="legal-list-item">
            <span class="term">{{ 'privacy_policy.interpretation_definition.definition.list.account' | translate }}</span>
            <span class="definition">{{ 'privacy_policy.interpretation_definition.definition.list.description.account' | translate }}</span>
          </li>
          <li class="legal-list-item">
            <span class="term">{{ 'privacy_policy.interpretation_definition.definition.list.affiliate' | translate }}</span>
            <span class="definition">{{ 'privacy_policy.interpretation_definition.definition.list.description.affiliate' | translate }}</span>
          </li>
          <li class="legal-list-item">
            <span class="term">{{ 'privacy_policy.interpretation_definition.definition.list.company' | translate }}</span>
            <span class="definition">{{ 'privacy_policy.interpretation_definition.definition.list.description.company' | translate }}</span>
          </li>
          <li class="legal-list-item">
            <span class="term">{{ 'privacy_policy.interpretation_definition.definition.list.cookies' | translate }}</span>
            <span class="definition">{{ 'privacy_policy.interpretation_definition.definition.list.description.cookies' | translate }}</span>
          </li>
          <li class="legal-list-item">
            <span class="term">{{ 'privacy_policy.interpretation_definition.definition.list.country' | translate }}</span>
            <span class="definition">{{ 'privacy_policy.interpretation_definition.definition.list.description.country' | translate }}</span>
          </li>
          <li class="legal-list-item">
            <span class="term">{{ 'privacy_policy.interpretation_definition.definition.list.device' | translate }}</span>
            <span class="definition">{{ 'privacy_policy.interpretation_definition.definition.list.description.device' | translate }}</span>
          </li>
          <li class="legal-list-item">
            <span class="term">{{ 'privacy_policy.interpretation_definition.definition.list.personal_data' | translate }}</span>
            <span class="definition">{{ 'privacy_policy.interpretation_definition.definition.list.description.personal_data' | translate }}</span>
          </li>
          <li class="legal-list-item">
            <span class="term">{{ 'privacy_policy.interpretation_definition.definition.list.service' | translate }}</span>
            <span class="definition">{{ 'privacy_policy.interpretation_definition.definition.list.description.service' | translate }}</span>
          </li>
          <li class="legal-list-item">
            <span class="term">{{ 'privacy_policy.interpretation_definition.definition.list.service_provider' | translate }}</span>
            <span class="definition">{{ 'privacy_policy.interpretation_definition.definition.list.description.service_provider' | translate }}</span>
          </li>
          <li class="legal-list-item">
            <span class="term">{{ 'privacy_policy.interpretation_definition.definition.list.using_date' | translate }}</span>
            <span class="definition">{{ 'privacy_policy.interpretation_definition.definition.list.description.using_date' | translate }}</span>
          </li>
          <li class="legal-list-item">
            <span class="term">{{ 'privacy_policy.interpretation_definition.definition.list.website' | translate }}</span>
            <span class="definition">
              {{ 'privacy_policy.interpretation_definition.definition.list.description.website' | translate }}
              <a href="https://dennis-dumin.net/" rel="external nofollow noopener" target="_blank" class="legal-link">
                https://dennis-dumin.net/
              </a>
            </span>
          </li>
          <li class="legal-list-item">
            <span class="term">{{ 'privacy_policy.interpretation_definition.definition.list.you' | translate }}</span>
            <span class="definition">{{ 'privacy_policy.interpretation_definition.definition.list.description.you' | translate }}</span>
          </li>
        </ul>
      </div>
    </div>
  
    <div class="legal-section">
      <h2 class="section-title-privacy">{{ 'privacy_policy.collective.headline' | translate }}</h2>
      
      <div class="legal-subsection">
        <h3 class="subsection-title">{{ 'privacy_policy.collective.types.headline' | translate }}</h3>
        
        <div class="legal-group">
          <h4 class="group-title">{{ 'privacy_policy.collective.types.personal_data.headline' | translate }}</h4>
          <p class="legal-text">{{ 'privacy_policy.collective.types.personal_data.paragraph.text' | translate }}</p>
          
          <ul class="data-list">
            <li class="data-item">{{ 'privacy_policy.collective.types.personal_data.paragraph.email' | translate }}</li>
            <li class="data-item">{{ 'privacy_policy.collective.types.personal_data.paragraph.name' | translate }}</li>
            <li class="data-item">{{ 'privacy_policy.collective.types.personal_data.paragraph.using' | translate }}</li>
          </ul>
        </div>
        
        <div class="legal-group">
          <h4 class="group-title">{{ 'privacy_policy.collective.types.using_data.headline' | translate }}</h4>
          <p class="legal-text">{{ 'privacy_policy.collective.types.using.paragraph.text_1' | translate }}</p>
          <p class="legal-text">{{ 'privacy_policy.collective.types.using.paragraph.text_2' | translate }}</p>
          <p class="legal-text">{{ 'privacy_policy.collective.types.using.paragraph.text_3' | translate }}</p>
          <p class="legal-text">{{ 'privacy_policy.collective.types.using.paragraph.text_4' | translate }}</p>
        </div>
      </div>
    </div>

    <div class="legal-section">
      <h2 class="section-title-privacy">{{ 'privacy_policy.tracking.headline' | translate }}</h2>
      <p class="legal-text">{{ 'privacy_policy.tracking.pragraph.text_1' | translate }}</p>
      
      <ul class="tracking-list">
        <li class="tracking-item">
          <span class="tech-name">{{ 'privacy_policy.tracking.list.cokies' | translate }}</span>
          <span class="tech-desc">{{ 'privacy_policy.tracking.list.description.cokies' | translate }}</span>
        </li>
        <li class="tracking-item">
          <span class="tech-name">{{ 'privacy_policy.tracking.list.beacons' | translate }}</span>
          <span class="tech-desc">{{ 'privacy_policy.tracking.list.description.becons' | translate }}</span>
        </li>
      </ul>
      
      <p class="legal-text">
        {{ 'privacy_policy.tracking.pragraph.text_2' | translate }}
        <a href="https://www.freeprivacypolicy.com/blog/sample-privacy-policy-template/#Use_Of_Cookies_And_Tracking" target="_blank" class="legal-link">
          Free Privacy Policy website
        </a>
      </p>
      
      <p class="legal-text">{{ 'privacy_policy.tracking.pragraph.text_3' | translate }}</p>
      
      <div class="cookies-container">
        <div class="cookie-type">
          <h4 class="cookie-title">{{ 'privacy_policy.tracking.list.essential_cookies.headline' | translate }}</h4>
          <p class="cookie-desc">{{ 'privacy_policy.tracking.list.essential_cokies.text_1' | translate }}</p>
          <p class="cookie-desc">{{ 'privacy_policy.tracking.list.essential_cokies.text_2' | translate }}</p>
          <p class="cookie-desc">{{ 'privacy_policy.tracking.list.essential_cokies.text_3' | translate }}</p>
        </div>
        
        <div class="cookie-type">
          <h4 class="cookie-title">{{ 'privacy_policy.tracking.list.policy_cookies.headline' | translate }}</h4>
          <p class="cookie-desc">{{ 'privacy_policy.tracking.list.policy_cookies.text_1' | translate }}</p>
          <p class="cookie-desc">{{ 'privacy_policy.tracking.list.policy_cookies.text_2' | translate }}</p>
          <p class="cookie-desc">{{ 'privacy_policy.tracking.list.policy_cookies.text_3' | translate }}</p>
        </div>
        
        <div class="cookie-type">
          <h4 class="cookie-title">{{ 'privacy_policy.tracking.list.functionality_cookies.headline' | translate }}</h4>
          <p class="cookie-desc">{{ 'privacy_policy.tracking.list.functionality_cookies.text_1' | translate }}</p>
          <p class="cookie-desc">{{ 'privacy_policy.tracking.list.functionality_cookies.text_2' | translate }}</p>
          <p class="cookie-desc">{{ 'privacy_policy.tracking.list.functionality_cookies.text_3' | translate }}</p>
        </div>
      </div>
      
      <p class="legal-text">{{ 'privacy_policy.tracking.list.functionality_cookies.text_4' | translate }}</p>
    </div>
    <div class="legal-section">
      <h3 class="subsection-title">{{ 'privacy_policy.personal_data.headline' | translate }}</h3>
      <p class="legal-text">{{ 'privacy_policy.personal_data.paragraph_text_1' | translate }}</p>
      
      <ul class="data-policy-list">
        <li class="policy-item">
          <span class="policy-purpose">{{ 'privacy_policy.personal_data.paragraph_text_2_strong' | translate }}</span>
          <span class="policy-details">{{ 'privacy_policy.personal_data.paragraph_text_2' | translate }}</span>
        </li>
      </ul>
    </div>
  
    <div class="legal-section">
      <h2 class="section-title-privacy">{{ 'privacy_policy.personal_security.contact.headline' | translate }}</h2>
      <p class="legal-text">{{ 'privacy_policy.personal_security.contact.paragraph_text_1' | translate }}</p>
      
      <div class="contact-info">
        <div class="contact-method">
          <span class="contact-label">{{ 'privacy_policy.personal_security.contact.email' | translate }}</span>
          <a href="mailto:info@dennis-dumin.net" class="contact-link">info&#64;dennis-dumin.net</a>
        </div>
      </div>
    </div>
  </div>